.map-details-table td {
	padding-left: 15px;
	padding-right: 15px;
}

.map-details-section-divider {
	width: 80%;
	border-top: 1.5px solid #DDDDDD;
	margin-top: 30px;
	margin-bottom: 10px;
}

.map-viewer-header-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.map-viewer-row {
	padding-left: 20px;
	padding-right: 20px;
}

.view-map-buttons-row {
	margin-top: 30px;
}

.view-map-buttons-row button {
	width: 100%;
}

#edit-map-details-button {
	margin-bottom: 15px;
}

#view-map-back-button {
	width: 100%;
}

.add-seat-title-row {
	margin-bottom: 15px;
}

.add-seat-button-rows {
	margin-top: 20px;
}

#add-seat-form button {
	width: 100%;
}

.edit-seat-button-rows {
	margin-top: 20px;
}

#edit-seat-form button {
	width: 100%;
}

#edit-seat-save-button {
	margin-bottom: 10px;
}

/* The leaflet container's background is modified in 'leaflet.css' --> .leaflet-container */
#map-viewer {
	height: 500px;
	margin-bottom: 30px;
}

.leaflet-popup-close-button {
	display: none;
}

#add-seat-save-button {
	margin-bottom: 10px;
}

@media all and (max-width: 767px) {
	.view-map-back-button-row {
		margin-top: 15px;
	}

	.map-viewer-row {
		padding-left: 0;
		padding-right: 0;
	}

	#map-viewer {
		height: 300px;
	}
}