<template name="adminDashboardUsers">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center dashboard-user-header">
				<b>User List</b>
			</h1>
		</div>
	</div>

	<div class="row" id="add-user-row">
		<div class="col-sm-offset-10 col-sm-2">
			<button type="button" class="btn btn-primary" id="add-user-button" data-toggle="modal" data-target="#add-user-modal">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				<b>Add User</b>
			</button>
		</div>
	</div>

	<div class="row">	
		<div class="table-responsive">
			<table class="table table-hover" id="user-table">
				<thead>
					<tr>
						<th><b>Name</b></th>
						<th><b>Email Address</b></th>
						<th><b>Department</b></th>
						<th><b>Job Title</b></th>
					</tr>
				</thead>

				<tbody>
					{{#unless isEmptyUserList}}
						{{#each userList}}
							{{> userListItem}}
						{{/each}}
					{{else}}
						<tr>
							<td colspan="4" class="text-center">
								<i>There is no registered user in the database!</i>
							</td>
						</tr>
					{{/unless}}
				</tbody>
			</table>
		</div>
	</div>

	<!-- ADD USER MODAL -->
	<div class="modal fade" id="add-user-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title text-center">
						<b>Add New User</b>
					</h2>
				</div>

				<div class="modal-body">
					<div class="container-fluid">
						<form class="form-horizontal center-block" id="add-user-form">
							<div class="form-group has-feedback">
								<div class="col-xs-offset-1 col-xs-10">
									<input type="text" class="form-control" name="name" placeholder="Name" id="add-user-name">
									<i class="form-control-feedback fa fa-user"></i>
								</div>
							</div>

							<div class="form-group has-feedback">
								<div class="col-xs-offset-1 col-xs-10">
									<input type="email" class="form-control" name="email" placeholder="Email Address" id="add-user-email">
									<i class="form-control-feedback fa fa-envelope"></i>
								</div>
							</div>

							<div class="form-group has-feedback">
								<div class="col-xs-offset-1 col-xs-10">
									<input type="text" class="form-control" name="department" placeholder="Department" maxlength="8" id="add-user-department">
									<i class="form-control-feedback fa fa-lock"></i>
								</div>
							</div>

							<div class="form-group has-feedback">
								<div class="col-xs-offset-1 col-xs-10">
									<input type="text" class="form-control" name="jobTitle" placeholder="Job Title" id="add-user-job-title">
									<i class="form-control-feedback fa fa-building"></i>
								</div>
							</div>

							<div class="form-group has-feedback">
								<div class="col-xs-offset-1 col-xs-10">
									<input type="text" class="form-control" name="address" placeholder="Address" id="add-user-address">
									<i class="form-control-feedback fa fa-home"></i>
								</div>
							</div>

							<div class="form-group has-feedback">
								<div class="col-xs-offset-1 col-xs-10">
									<input type="text" class="form-control" name="contact" placeholder="Contact Number" id="add-user-contact">
									<i class="form-control-feedback fa fa-phone"></i>
								</div>
							</div>
					
							<div class="form-group ">
								<div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5">
									<button type="submit" class="btn btn-primary center-block add-user-button">
										<b>Add</b>
									</button>
								</div>

								<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5">
									<button type="button" class="btn btn-danger center-block add-user-button" data-dismiss="modal">
										<b>Cancel</b>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="userListItem">
	<tr>
		<td>{{this.profile.name}}</td>
		<td>{{this.profile.email}}</td>
		<td>{{this.profile.department}}</td>
		<td>{{this.profile.jobTitle}}</td>
	</tr>
</template>