<template name="adminDashboardLayout">
	<div id="wrapper">
		<!-- http://startbootstrap.com/template-overviews/simple-sidebar/ -->
	    <!-- Sidebar -->
	    <div id="sidebar-wrapper">
	        <ul class="sidebar-nav">
	            <li class="sidebar-brand">
	                <a href="/dashboard">
	                    Admin Panel
	                </a>
	            </li>
	            <li>
	                <a href="/dashboard/places" class="{{activeLink '/dashboard/places'}}">Places</a>
	            </li>
	            <li>
	                <a href="/dashboard/users" class="{{activeLink '/dashboard/users'}}">Users</a>
	            </li>
	            <li>
	                <a href="/dashboard/editAbout" class="{{activeLink '/dashboard/about'}}">About Text</a>
	            </li>
	        </ul>
	    </div>
	    <!-- /#sidebar-wrapper -->

		<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            	<!-- HANDLING NESTED YIELDS ==> https://github.com/iron-meteor/iron-router/issues/1125 -->
            	<!--
					Use Iron Layout to do the nesting
					This admin dashboard layout is only a template for another template to use (adminDashboardPlaces for example)
					When the compilation starts, it will instantiate this layout and fill in the {{< yield}} part first

					In the router, we only call the CHILD template like adminDashboardHome or adminDashboardPlaces as the template
					By then, it will have been included to the adminDashboardLayout
            	-->
                {{> Template.dynamic template=adminDashboardContentPlaceholder}}
            </div>
        </div>
        <!-- /#page-content-wrapper -->
	</div>
</template>