<template name="adminLogin">
	<div class="row header-row">
		<div class="col-xs-12">
			<h1 class="text-center">
				<b>Admin Login</b>
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
			<form class="form-horizontal center-block" id="admin-login-form">
				<div class="form-group has-feedback">
					<div class="col-xs-12">
						<input type="email" class="form-control" name="email" placeholder="Email Address" id="admin-login-email">
						<i class="form-control-feedback fa fa-envelope"></i>
					</div>
				</div>

				<div class="form-group has-feedback">
					<div class="col-xs-12">
						<input type="password" class="form-control" name="password" placeholder="Password" id="admin-login-password">
						<i class="form-control-feedback fa fa-lock"></i>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-6 col-sm-12 col-xs-12 text-center">
						<button type="submit" class="btn btn-primary" id="admin-login-submit"><b>Login</b></button>
					</div>

					<div class="col-md-6 col-sm-12 col-xs-12 text-center">
						<button type="button" class="btn btn-default" id="admin-login-forgot-password"><b>Forgot Password</b></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>